.div-center {
	margin: 0 auto;
	position: relative;
}

.simon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	behavior: url(PIE.htc); /* for IE8 */
}

.orange {
	background-color: #FFAA00;
}

.blue {
	background-color: #00AAFF
}

.o {
	color: #FFAA00;
}

.b {
	color: #00AAFF
}

.left {
	float: left;
}

.right {
	float: right;
}

.container {
	width: 50vw;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 100%;
	grid-gap: 0;
}

.g1 {
	grid-row: 1;
	grid-column: 1;
	justify-self: start;
}
.g2 {
	grid-row: 1;
	grid-column:2;
	justify-self: center;
}
.g3 {
	grid-row: 1;
	grid-column:3;
	justify-self: end;
}
